@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Roboto Slab", serif;
}

nav{
    background:#222;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 40px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav ul li{
    padding:6px 10px;
}

nav ul li:hover{
    background:#ac7e68;
}

nav a{
    color:white;
    text-decoration:none;
}

.main-color{
    color:#ac7e68;
}

header{
    margin-top:70px;
    height:100vh;
    background:url("../img/home1.jpg") center/cover no-repeat;
}

.header-content{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.5);
    color:white;
    text-align:center;
    padding:20px;
}

.header-content h1{
    font-size:3rem;
}

.header-content p{
    color:#ac7e68;
    margin-bottom:10px;
}
.menu-section{
    display:flex;
    align-items:center;
    gap:60px;
    padding:5rem;
    background:#e9e4db;
}

.menu-img{
    flex:1;
}

.menu-img img{
    height:700px;
    object-fit:cover;
}

.menu-content{
    flex:1;
}

.menu-content h2{
    font-size:2.5rem;
    color:#ac7e68;
    margin-bottom:30px;
}

.menu-item{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.menu-item p{
    font-size:14px;
    color:#555;
}

footer{
    background:black;
    color:#fffbf2;
    text-align:center;
    padding:20px;
}

@media(max-width:1024px){
    .menu-section{
        flex-direction:column;
    }
    .menu-img img{
        height:400px;
    }
}

@media(max-width:768px){
    .menu-img img{
        height:250px;
    }
}
@media(max-width:768px){
    nav{
        padding:10px 20px;
        flex-direction: column;
    }
    nav ul{
        gap:10px;
    }
    header{
        height:70vh;
    }
    .header-content h1{
        font-size:2rem;
    }
}